/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    opacity: 0.9;
    padding: 8px;
    z-index: 1000;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.navbar-toggler {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    outline: none;
}
.navbar-toggler .bar1, .navbar-toggler .bar2, .navbar-toggler .bar3 {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler.open .bar1 {
    transform: rotate(44deg) translate(6px, 6px);
}

.navbar-toggler.open .bar2 {
    opacity: 0;
}

.navbar-toggler.open .bar3 {
    transform: rotate(-44deg) translate(5px, -5px);
}



.navbar a {
    color: #ffc107;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    /* font-size: 2rem; */
}
.nav-item{
    color: #fff;
}
.navbar a:hover {
color: #f74343;
}
.nav-item:hover{
    background-color: #ffc107;;
    padding: 10px 0px;
    border-radius: 6px;
    color: #000;
}

.nav-menus {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.konasima-brand {
    font-weight: bold;
    color: #ffc107;
    font-size: 2rem;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 769px) and (max-width:991px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        gap: 1rem;
    }

    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        flex-grow: 0;
    }
    .navbar {
        font-size: 1.5rem; 
    }
    .konasima-brand {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        font-size: 1rem; 
    }

    .konasima-brand {
        font-size: 1rem;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        /* width: 50%  ; */
    }
    .nav-item{
        border-bottom: 1px solid #d1d1d1;
        width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    .nav-item:active{
        background-color: transparent;        
        padding: 0px;
        cursor: pointer;
        
    }
    .nav-item:hover{
        background-color:transparent;
        padding: 0px;
        cursor: pointer
    }

    .navbar-nav .nav-link {
        margin-left: 0;
        /* padding: 10px ; */
    }

    .navbar-collapse {
        background-color: #2c3e50; 
        
    }

    .navbar a {
        padding: 8px;
    }
    .contact{
        border-bottom: 0px;
    }
}
