
.container {
    padding: 40px;
    /* margin-top: 50px; */
    font-size: 0.8rem;
    
}
.header-main-heading{
    color: #3f80e9;
    font-size: 2rem;
}
.card-main-heading{
    color: #ffc107;
    text-align: left;
    font-size: 1.8rem;
}
.cards_main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center the cards horizontally */
}
.card-description{
    font-size: 1.5rem;
}
.heath-benefits{
    color: #f74343;
    font-weight: 600;
}
.health-description{
    font-style:italic ;
}
.each-card-container {
    display: flex;
    flex-direction: row;
    /* align-items: center;  */
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 100%; 
    gap: 15px;
    text-align: center; /* Center text alignment */
}
.text-container{
    display: flex;
    flex-direction: column;
    /* background-image: url('../Images/Dry_fruit2.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 10px;
    
    
}

.image {
    width: 50%; /* Make the image take full wid    th of the card */
    height: auto; /* Keep aspect ratio */
    border-radius: 8px;
    margin-bottom: 15px; /* Space between image and text */
}

p {
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    font-size: 2rem;
}
