
.container {
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
}
.header-main-heading{
    color: #3f80e9;
    font-size: 2rem;
}
.card-main-heading{
    color: #ffc107;
    text-align: left;
    font-size: 1.8rem;
    padding: 0px;
}
.cards_main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    /* justify-content: center;  */
    
}
.card-description{
    font-size: 1.5rem;
    color: #313030;
    text-align: left;
}
.heath-benefits{
    color: #f74343;
    font-weight: 600;
}
.health-description{
    font-style:italic ;
}
.each-card-container {
    display: flex;
    flex-direction: row;
    background-color: azure;
    border-radius: 8px;
    flex-wrap: wrap;
    flex-grow: 1;
    
    
    
}
.text-container{
    display: flex;
    flex-direction: column;
    
    /* background-image: url('../Images/Dry_fruit2.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 5px;
    
    
}

.carousel-item img{
    height: 400px;
    width: 100%; 
    object-fit: cover;
    aspect-ratio: 16/9; 
 }  
  

@media (min-width: 769px) and (max-width:991px) {
    .card-main-heading{
        font-size: 1.2rem;
    }
    .header-main-heading{
        font-size: 1.3rem;
    }
    .card-description{
        font-size: 1rem;
        
    }
    .container{
        padding: 15px;
    }
}
@media (max-width: 768px) {
    .card-main-heading{
        font-size: 1rem;
    }
    .carousel-item img{
        height: 280px;
         
     }  
    .container{
        padding: 10px;
    }

    .header-main-heading{
        font-size: 1rem;
    }
    .card-description{
        font-size: 0.9rem;
        
    }
}